

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
body{
    
    font-family: 'Roboto', sans-serif;
    color: rgba(0,0,0,0.83);
    margin: 0;
    padding: 0;
    
}
.resumeMob a{
    width: 100%;
    display: inline-block;
}
.container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets//img/4167291_18786-ai.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}


.header{
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    padding-right: 3rem;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 18px;
    color: rgb(7, 0, 147);
}
button{
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
    background-color: #8010ff;
    color: white;
    font-size: 17px;
    box-shadow: 0px 0px 5px rgb(203, 170, 249);
    cursor: pointer;
}



.content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}
.left{
    width: 40%;
    display: flex;
    justify-content: center;
}
.right
{
    width: 60%;
}
.right span{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
p{
    font-size: 17px;
    color: rgb(75, 75, 75);
    font-weight: 300;
    line-height: 25px;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
img{
    width: 60%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}


.footer{
    position: absolute;
    bottom: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer a{
    color: rgb(255, 255, 255);
}



@media screen and (max-width:1224px) {
    .content{
        width: 90%;
    }
    p{
        font-size: 16px;
        line-height: 25px;
    }
    

.header{
  
    padding-top: 1rem;
   
}
.footer{
    padding-bottom: 2rem;
}
}

@media screen and (max-width:1024px) {
    .container{
        display: none;
    }
    .containerMobBg{
        background-image: url('./assets/img/4167291_18786-ai\ \(1\).png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .containerMob{
        position: relative;
        height: 100vh;
        width: 100vw;
        z-index: 100;
    }
    .headerMob{
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding: 3rem 0;
        align-items: center;
        position: relative;
        z-index: 100;
    }
    .leftMob{
        display: flex;
        justify-content: center;
    }
    .rightMob span{
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    }
    .headerMob img{
        width: 50%;
    }
    .contentMob{
        width: 80%;
        margin: 0 auto;
        position: relative;
        z-index: 100;
    }
    .footerMob{
        color: black;
        position: relative;
        z-index: 100;
        display: flex;
        gap: 1rem;
        font-size: 20px;
        justify-content: center;
        padding: 4rem 0;
    }
    .footerMob a{
        color: black;
    }
    .resumeMob{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 100;
    }
    .resumeMob button{
        width: 100%;
    }
    .resumeMob p{
        text-align: center;
    }

}


@media screen and (max-width:764px) {
    .headerMob{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .leftMob{
        padding-top: 3rem;
    }
    .rightMob span{
        font-size: 22px;
    }
}