@font-face {
    font-family: poppins;
    src: url(./assets/Poppins-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    height: 100vh;
    width: 100vw;
    font-family: poppins;
    color: rgba(0,0,0,0.83);
    margin: 0;
    padding: 0;
    position: relative;
}
.container{
    background-color: white;
    box-shadow: 0 0 9px gray;
    width: 70vw;
    height: 65vh;
    border-radius: 1%;
    position: relative;
    top: 50%;
    margin: auto;
    transform: translate(0,-50%);
    display: flex;
}
.i{
    display: block;
    width: 10%;
    margin: 0 4px;
    
}
.icon{
    width: 100%;
}
.left{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-body h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 170%;
}
.img{
    width: 100%;
}
.photo{
    width: 46%;
    border: none;
    border-radius: 100%;
    display: block;
    margin: auto;
    
}
.social-media{
    display: flex;
    justify-content: center;
}

.right{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn{
    padding: 0.7rem 1rem;
    border: 1px solid grey;
    background: transparent;
    outline: none;
    color: rgba(0,0,0,0.83);
    text-decoration: none;
    width: fit-content;

}

.dis{
    padding-right: 25px;
}

@media(max-width:1314px) {
    .container{
        width: 90vw;
    }
    .photo{
        width:53%;
    }

}


@media(max-width:964px) {
    p{
        font-size: 90%;
    }
    .photo{
        width:70%;
    }
    .i{
        width: 13%;
    }
}

@media(max-width:850px) {
    .container{
        flex-direction: column;
        padding: 1rem 1rem;
        width: 85vw;
    }
    .left{
        flex-direction: row;
        width: 100%;
    }
    .img-body h3{
        text-align: left;
    }
    .social-media{
        justify-content: left;
    }
    .i{
        width: 6%;
    }
    .i:first-child{
        margin-left: 0;
    }
    .img{
        width: 70%;
    }
    .img-body{
        padding-left: 2rem;
    }
    .photo{
        margin: 10px 0 0 0;
        width: 100%;
    }
    .right{
        width: 100%;
        padding-top: 1rem;
    }
    .dis{
        padding-right: 0;
    }
}

@media(max-width:750px) {
    .img{
        width: 80%;
    }
}

@media(max-width:644px) {
    .container{
        height: auto;
       
    }
    .left{
        justify-content: left;
    }
    .img-body{
        width:130%;
    }
    .i{
        width:13%;
    }
    .btn{
        margin-bottom: 1rem;
        display: block;
    }
}